.liveUpdates {
  margin-top: 20px;
}

.liveUpdates h3 {
  color: #b30000;
  font-size: 16px;
  margin-bottom: 10px;
}

.liveUpdates ul {
  list-style: none;
  padding-left: 0;
}

.liveUpdates li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.liveUpdates span {
  color: #888;
  font-weight: bold;
  margin-right: 5px;
}
