.mainFeatureWrapper {
  background: #fff;
  padding: 20px 0;
  max-width: 750px;
  margin: 0 auto;
}

.imageContainer {
  position: relative;
}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.underline {
  height: 8px;
  width: 80px;
  background-color: #ffb400;
  position: absolute;
  bottom: -10px;
  left: 10px;
  border-radius: 5px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.liveLabel {
  color: #900f0f;
  font-weight: 600;
  margin-bottom: 12px;
}

.updateList {
  list-style: none;
  padding-left: 0;
}

.updateItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 1.4;
}

.dot {
  margin-right: 6px;
  font-size: 10px;
  margin-top: 4px;
}

.time {
  color: gray;
  margin-right: 6px;
  white-space: nowrap;
  font-size: 14px;
}

.text {
  color: #000;
}
