.world-news {
  /* padding: 1rem; */
}

.world-news h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #006400; /* Brand green */
  border-bottom: 2px solid #006400;
  font-weight: bold;
  padding-top: 15px;
}

.world-news-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.world-news-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  transition: color 0.2s ease;
}

.world-news-item:hover {
  color: #006400;
  text-decoration: underline;
}

.world-news-item img {
  width: 80px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.world-news-item p {
  flex: 1;
  font-weight: 700;
  font-size: 12px;
}

.no-image-placeholder {
  width: 100px;
  height: 80px;
  background-color: #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .world-news-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .world-news-item img {
    width: 100%;
    height: auto;
  }

  .world-news-item p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .world-news h2 {
    font-size: 1.2rem;
  }

  .world-news-item p {
    font-size: 0.95rem;
  }
}
