/* .world-news {
  background-color: #fff;
  padding: 1rem;
}

.world-news h3 {
  color: #900f0f;
  margin-bottom: 12px;
}

.news-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.news-box img {
  width: 100px;
  height: auto;
  border-radius: 5px;
} */
