/* src/app/admin/admin.css */
/* Ensure body and html occupy full screen and remove margin */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.admin-container {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.admin-sidebar {
  width: 240px;
  background-color: #900f0f;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

.admin-main {
  flex-grow: 1;
  padding: 30px;
  background-color: #f5f5f5;
  overflow-y: auto;
}
