.latest-video-section {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-thumbnail iframe {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.video-title-container {
  padding: 10px 15px;
  position: relative;
  background: #fff;
}

.orange-bar {
  width: 140px;
  height: 10px;
  background-color: orange;
  border-radius: 5px;
  position: absolute;
  top: -5px;
  left: 15px;
}

.video-title {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: underline;
  color: #000;
  margin-top: 10px;
}
