/* Footer.css */

.footer {
  background-color: #f9f9f9;
  padding: 40px 20px 20px;
  color: #333;
  font-family: Arial, sans-serif;
  border-top: 3px solid #106b01; /* green border top */
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

/* Left side: About links */
.footer-links-grid {
  flex: 1;
  min-width: 250px;
}

.footer-section h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #106b01;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 8px;
}

.footer-section a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #900f0f; /* maroon hover */
}

/* Right side: Logo + Icons */
.footer-logo-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* text-align: right; */
  min-width: 220px;
}

.footer-logo {
   margin-top: -45px;
  border-radius: 10px; 
}

.social-icons {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  
}

.social-icons a {
  background-color: #106b01;
  color: white;
  width: 36px;
  height: 36px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
}

.social-icons a:hover {
  background-color: #900f0f;
  transform: scale(1.1);
}

/* Bottom text */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: white;
  padding: 16px;
  border-top: 1px solid #ddd;
  background-color: #106b01;
}
