.latest-news {
  padding: 1rem;
  /* background-color: #f7f7f7; */
}

.latest-news h2 {
  font-size: 26px;
  margin-bottom: 10px;
  color: #006400; /* Brand green */
  border-bottom: 2px solid #006400;
  font-weight: bold;

  
}

.latest-news-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.latest-news-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.latest-news-item img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.latest-news-item p {
  flex: 1;
  font-weight: 600;
  font-size: 14px;    

}

.no-image {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 0.9rem;
}
 @media (max-width: 768px) {
  .latest-news-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .latest-news-item img {
    width: 100%;
    height: auto;
  }

  .latest-news-item p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .latest-news h2 {
    font-size: 1.2rem;
  }

  .latest-news-item p {
    font-size: 0.95rem;
  }
}
.latest-news-item:hover {
  color: #006400;
  text-decoration: underline;
}