/* .latest-news {
  background-color: #fff;
  padding: 1rem;
}

.latest-news h3 {
  color: #106b01;
  margin-bottom: 12px;
}

.news-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
} */
